* {
    box-sizing: border-box;
}

body {
    background-color:bisque;
    display:grid;
    grid-gap: 3px;
    grid-template-areas: 
        'header'
        'nav'
        'section'
        'footer';
}

header {
    grid-area: header;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    background: url('https://d626yq9e83zk1.cloudfront.net/files/2017/12/26-770x425.jpg');
    background-color: rgb(32, 32, 32);
    width: auto;
    height: 100px;
}

header h1 {
    color: rgb(181, 212, 41);
    font-family:Verdana, Tahoma, sans-serif;
}

nav {
    grid-area: nav;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    list-style: none;
    background-color:greenyellow;
    width: auto;
    height: 40px;
}

nav li {
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color:tomato;
    width: 100px;
    height: 25px;
    border-radius: 4px;
}

nav li a {
    color:aliceblue;
    text-decoration: none;
}

section {
    grid-area: section;
    border-radius: 10px;
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

section div {
    display: flex;
    justify-content: space-around;
}

section div img {
    display: block;
    width: 60%;
    height: 380px;
    border-radius: 10px;
}

.description {
    display: block;
    width: 35%;
}

.showMap {
    display: block;
    background-color:rgb(31, 230, 163);
    width: 150px;
    height: 40px;
    border-radius:10px;
    color:rgb(185, 48, 48);
}

footer {
    grid-area: footer;
    border-radius: 10px;
    width: auto;
    height: 50px;
    background-color:blueviolet;
    display: flex;
    justify-content: center;
    align-items:center;
}

/* footer span {
    margin: auto;
} */