body {
    /* border: 1px solid gainsboro; */
    /* border-radius: 20px; */
}

header {
    display: flex;
    justify-content: center;
    align-items:center;
    background: url('https://d626yq9e83zk1.cloudfront.net/files/2017/12/26-770x425.jpg');
    background-color: rgb(32, 32, 32);
    width: auto;
    height: 100px;
}

header h1 {
    color: rgb(180, 182, 88);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color:greenyellow;
    width: auto;
    height: 40px;
}