.container {
    div {
        background-image: url(https://cdn.create.vista.com/api/media/medium/82533672/stock-photo-beautiful-moraine-lake?token=);
        border: 1px solid red;
        color: inherit;
    }
}

.lake {
    width: 300px;
    height: auto;
    display: block;
    margin: 2rem auto;
}